<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>app/Index/Home.do</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListarCreditosExtraescolares_Srv</servlet-name>
        <servlet-class>Servlets.Alumnos.ListarCreditosExtraescolares_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alumnos</servlet-name>
        <servlet-class>Servlets.Alumnos.ListarAlumnos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCreditoExtraescolar_Srv</servlet-name>
        <servlet-class>Servlets.CreditosExtraescolares.ListarCreditoExtraescolar_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarActividadExtraescolar</servlet-name>
        <servlet-class>Servlets.ActividadExtraescolar.ListarActividadExtraescolar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearActividadExtraescolar</servlet-name>
        <servlet-class>Servlets.ActividadExtraescolar.CrearActividadExtraescolar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Maestros.CrearMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Maestros.ListarMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarGrupos_Srv</servlet-name>
        <servlet-class>Servlets.Grupos.ListarGrupos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearGrupos_Srv</servlet-name>
        <servlet-class>Servlets.Grupos.CrearGrupos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarActividadExtraescolar_Srv</servlet-name>
        <servlet-class>Servlets.ActividadExtraescolar.EditarActividadExtraescolar_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarActividadExtraescolar_Srv</servlet-name>
        <servlet-class>Servlets.ActividadExtraescolar.EliminarActividadExtraescolar_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Maestros.EditarMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Maestros.EliminarMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGrupos_Srv</servlet-name>
        <servlet-class>Servlets.Grupos.EliminarGrupos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarGrupos_Srv</servlet-name>
        <servlet-class>Servlets.Grupos.EditarGrupos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallesMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Maestros.DetallesMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Maestros.ReportesMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallarGrupos_Srv</servlet-name>
        <servlet-class>Servlets.Grupos.DetallarGrupos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEventos_Srv</servlet-name>
        <servlet-class>Servlets.Eventos.ListarEventos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearEventos_Srv</servlet-name>
        <servlet-class>Servlets.Eventos.CrearEventos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Historico_ListarHistorico_Srv</servlet-name>
        <servlet-class>Servlets.Historico.Historico_ListarHistorico_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesEventos_Srv</servlet-name>
        <servlet-class>Servlets.Eventos.ReportesEventos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEventos_Srv</servlet-name>
        <servlet-class>Servlets.Eventos.EliminarEventos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEventos_Srv</servlet-name>
        <servlet-class>Servlets.Eventos.EditarEventos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCreditoExtraescolar_Srv</servlet-name>
        <servlet-class>Servlets.CreditosExtraescolares.EditarCreditoExtraescolar_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarGruposMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Grupos.ListarGruposMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleGrupoMaestro</servlet-name>
        <servlet-class>Servlets.Grupos.DetalleGrupoMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearPlanTrabajo_Srv</servlet-name>
        <servlet-class>Servlets.PlandeTrabajo.CrearPlanTrabajo_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPlanesdeTrabajo_Srv</servlet-name>
        <servlet-class>Servlets.PlandeTrabajo.ListarPlanesdeTrabajo_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetallarPlanTrabajo</servlet-name>
        <servlet-class>Servlets.PlandeTrabajo.DetallarPlanTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesPlanTrabajo_Srv</servlet-name>
        <servlet-class>Servlets.PlandeTrabajo.ReportesPlanTrabajo_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarGruposAlumno_Srv</servlet-name>
        <servlet-class>Servlets.GruposAlumno.ListarGruposAlumno_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Maestros.InfoMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarInfo_Srv</servlet-name>
        <servlet-class>Servlets.Maestros.EditarInfo_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEventoMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Eventos.ListarEventoMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesEventosMaestro_Srv</servlet-name>
        <servlet-class>Servlets.Eventos.ReportesEventosMaestro_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscripcionGrupos_Srv</servlet-name>
        <servlet-class>Servlets.Grupos.InscripcionGrupos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscribirAlumnoGrupo</servlet-name>
        <servlet-class>Servlets.GruposAlumno.InscribirAlumnoGrupo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>maestroInscribirAlumno_Srv</servlet-name>
        <servlet-class>Servlets.GruposAlumno.maestroInscribirAlumno_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index_Srv</servlet-name>
        <servlet-class>Servlets.Index.Index_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarPlanTrabajo_Srv</servlet-name>
        <servlet-class>Servlets.PlandeTrabajo.EditarPlanTrabajo_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPlanesdeTrabajo_Srv</servlet-name>
        <servlet-class>Servlets.PlandeTrabajo.EliminarPlanesdeTrabajo_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAlumno_Srv</servlet-name>
        <servlet-class>Servlets.GruposAlumno.EditarAlumno_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaAlumno</servlet-name>
        <servlet-class>Servlets.GruposAlumno.BajaAlumno_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesAlumnoIncrito_Srv</servlet-name>
        <servlet-class>Servlets.Alumnos.ReportesAlumnoIsncrito_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAsistencias_Srv</servlet-name>
        <servlet-class>Servlets.Asistencias.ListarAsistencias_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login_Srv</servlet-name>
        <servlet-class>Servlets.Usuarios.Login_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalificarAlumnos_Srv</servlet-name>
        <servlet-class>Servlets.GruposAlumno.CalificarAlumnos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarGruposInscrito_Srv</servlet-name>
        <servlet-class>Servlets.Alumnos.ListarGruposInscrito_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleGrupoAlumno_Srv</servlet-name>
        <servlet-class>Servlets.Grupos.DetalleGrupoAlumno_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>App_Login_Srv</servlet-name>
        <servlet-class>App.App_Login_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>App_RegistrarAsistencia_Srv</servlet-name>
        <servlet-class>App.App_RegistrarAsistencia_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>Servlets.Usuarios.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Periodo_Srv</servlet-name>
        <servlet-class>Servlets.Usuarios.Periodo_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>App_ListarEventos_Srv</servlet-name>
        <servlet-class>App.App_ListarEventos_Srv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>App_RegistrarAsistenciaEvento_Srv</servlet-name>
        <servlet-class>App.App_RegistrarAsistenciaEvento_Srv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alumnos</servlet-name>
        <url-pattern>/app/alumnos/listaralumnos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCreditoExtraescolar_Srv</servlet-name>
        <url-pattern>/app/creditoextraescolar/listarcredito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarActividadExtraescolar</servlet-name>
        <url-pattern>/app/actividadextraescolar/listaractividad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearActividadExtraescolar</servlet-name>
        <url-pattern>/app/actividadextraescolar/crearactividad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMaestro_Srv</servlet-name>
        <url-pattern>/app/maestros/crearmaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarMaestro_Srv</servlet-name>
        <url-pattern>/app/maestros/listarmaestros.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarGrupos_Srv</servlet-name>
        <url-pattern>/app/grupos/listargrupos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearGrupos_Srv</servlet-name>
        <url-pattern>/app/grupos/creargrupo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarActividadExtraescolar_Srv</servlet-name>
        <url-pattern>/app/actividadextraescolar/editaractividad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarActividadExtraescolar_Srv</servlet-name>
        <url-pattern>/app/actividadextraescolar/eliminaractividad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarMaestro_Srv</servlet-name>
        <url-pattern>/app/maestros/editarmaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMaestro_Srv</servlet-name>
        <url-pattern>/app/maestros/eliminarmaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGrupos_Srv</servlet-name>
        <url-pattern>/app/grupos/eliminargrupo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarGrupos_Srv</servlet-name>
        <url-pattern>/app/grupos/editargrupo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallesMaestro_Srv</servlet-name>
        <url-pattern>/app/maestros/detallesmaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesMaestro_Srv</servlet-name>
        <url-pattern>/app/maestros/reportesmaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallarGrupos_Srv</servlet-name>
        <url-pattern>/app/grupos/detallargrupo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEventos_Srv</servlet-name>
        <url-pattern>/app/eventos/listarevento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearEventos_Srv</servlet-name>
        <url-pattern>/app/eventos/crearevento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Historico_ListarHistorico_Srv</servlet-name>
        <url-pattern>/app/historico/listarhistorico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesEventos_Srv</servlet-name>
        <url-pattern>/app/eventos/reporteevento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEventos_Srv</servlet-name>
        <url-pattern>/app/eventos/eliminarevento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEventos_Srv</servlet-name>
        <url-pattern>/app/eventos/editarevento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCreditoExtraescolar_Srv</servlet-name>
        <url-pattern>/app/creditoextraescolar/editarcredito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarGruposMaestro_Srv</servlet-name>
        <url-pattern>/app/grupos/listargruposmaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleGrupoMaestro</servlet-name>
        <url-pattern>/app/grupos/detallargrupomaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearPlanTrabajo_Srv</servlet-name>
        <url-pattern>/app/planesdetrabajo/CrearPlan.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPlanesdeTrabajo_Srv</servlet-name>
        <url-pattern>/app/planesdetrabajo/ListarPlan.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetallarPlanTrabajo</servlet-name>
        <url-pattern>/app/planesdetrabajo/DetallarPlan.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesPlanTrabajo_Srv</servlet-name>
        <url-pattern>/app/planestrabajo/reporteplan.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarGruposAlumno_Srv</servlet-name>
        <url-pattern>/app/gruposalumno/listargruposalumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoMaestro_Srv</servlet-name>
        <url-pattern>/app/maestros/infomaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarInfo_Srv</servlet-name>
        <url-pattern>/app/maestros/editarinfo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEventoMaestro_Srv</servlet-name>
        <url-pattern>/app/eventos/listareventomaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesEventosMaestro_Srv</servlet-name>
        <url-pattern>/app/eventos/reporteeventomaestro.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscripcionGrupos_Srv</servlet-name>
        <url-pattern>/app/grupos/inscripciongrupo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscribirAlumnoGrupo</servlet-name>
        <url-pattern>/app/gruposalumno/inscribiralumnogrupo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>maestroInscribirAlumno_Srv</servlet-name>
        <url-pattern>/app/gruposalumno/inscribiralumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index_Srv</servlet-name>
        <url-pattern>/app/Index/Home.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarPlanTrabajo_Srv</servlet-name>
        <url-pattern>/app/planes/editarplan.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPlanesdeTrabajo_Srv</servlet-name>
        <url-pattern>/app/planesdetrabajo/eliminarplan.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAlumno_Srv</servlet-name>
        <url-pattern>/app/gruposalumno/editaralumnogrupo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaAlumno</servlet-name>
        <url-pattern>/app/gruposalumno/eliminaralumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesAlumnoIncrito_Srv</servlet-name>
        <url-pattern>/app/alumnos/reportesalumnoinscrito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAsistencias_Srv</servlet-name>
        <url-pattern>/app/asistencias/listarasistencias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login_Srv</servlet-name>
        <url-pattern>/app/usuarios/loginusuarios.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalificarAlumnos_Srv</servlet-name>
        <url-pattern>/app/alumnos/calificaralumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarGruposInscrito_Srv</servlet-name>
        <url-pattern>/app/gruposalumno/listargruposinscrito.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleGrupoAlumno_Srv</servlet-name>
        <url-pattern>/app/grupos/detalles/grupoalumno.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App_Login_Srv</servlet-name>
        <url-pattern>/app/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App_RegistrarAsistencia_Srv</servlet-name>
        <url-pattern>/app/asistencias/RegistrarAsistencia.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/app/salir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Periodo_Srv</servlet-name>
        <url-pattern>/app/periodo/editarPeriodo.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App_ListarEventos_Srv</servlet-name>
        <url-pattern>/app/listareventos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>App_RegistrarAsistenciaEvento_Srv</servlet-name>
        <url-pattern>/app/eventos/asistenciaevento.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
