.content-center{
    display: grid;
    place-content: center;
}

.btn-file input[type="file"]{
    appearance: none;
    display: none;
    visibility: none;
    opacity: 0;
}

.btn-file{
    display: inline-block;
    position: relative
}

.img-table{
    margin: 1rem;
    width: 150px;
    height: 150px;
}

.captcha{
    display: inline-block;
    width: 245px;
}
#mainCaptcha {
  background-image: linear-gradient(white, blue, white);
  color: #FF9900;
  height: 45px;
  max-height: 50px;
  user-select: none;
  font-family: sans-serif;
  font-size: 22px;
  font-variant: normal;
  font-weight: 900;
  text-align: center;
}




.scrollable-div {
    overflow: auto; /* Añade una barra de desplazamiento cuando sea necesario */
  }

  
 .checkbox-columnas {
    column-count: 3;
    column-gap: 20px; 
 }

        
 .checkbox-columnas label {
    display: block;
    margin-bottom: 8px;
 } 
  
